.container
{
    display: flex;
    justify-content: center;
    background-color: rgba(103, 136, 255, 0.635);
    border: 5px solid rgb(72, 0, 255);
}
.block
{
  width: 200px; 
  background-color: rgba(255, 255, 255, 0.564);; 
}
.container-2
{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(103, 136, 255, 0.635);
    border: 5px solid rgb(72, 0, 255);
    height: 500px;
}

.block-2
{
    background-color: rgba(255, 255, 255, 0.564);
    width: 200px;
    height: 200px;
}
.container-3
{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(103, 136, 255, 0.635);
    border: 5px solid rgb(72, 0, 255);
    height: 800px;
    gap: 10px;
}

.block-3
{
    background-color: rgba(255, 255, 255, 0.564);
    width: 200px;
    height: 200px;
}

.container-4{
    background-color: white;
    width: 850px;
    height: 850px;
    position: relative;
}

.square-1{
    width: 200px;
    height: 200px;
    border: 3px solid red;
    margin: 5px;
    position: absolute;
    left: 150px;
    top: 150px;
}

.square-2{
    width: 200px;
    height: 200px;
    border: 3px solid blue;
    margin: 5px;
    position: absolute;
    left: 300px;
    top: 300px;
}

.square-3{
    width: 200px;
    height: 200px;
    border: 3px solid greenyellow;
    margin: 5px;
    position: absolute;
    left: 450px;
    top: 450px;
}
.img-kitten
{
    position: fixed;
    top: auto;
    right: 10px;
    bottom: 10px;
    left: auto;
}